<div class=" row">
    <div class="col-xs-12 col-md-12 recommendation-row">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <h3>{{Area}} <strong>{{Title}}</strong>, {{Term}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        Not started. Due <strong>{{RecommendationDeadline}}</strong> ({{RecommendationDueDays}})
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">

                <a class="btn btn-danger decline" href="#"><span class="glyphicon glyphicon-remove"></span> Decline</a>
            </div>
            <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
                <a class="btn btn-info start-continue" href="#">Start now <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>