<div class=" row">
    <div class="col-xs-12 col-md-12  recommendation-row">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-10 col-md-10">
                        <h3>{{Area}} <strong>{{Title}}</strong>, {{Term}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-10 col-md-10">
                        In progress. Due <strong>{{RecommendationDeadline}}</strong> ({{RecommendationDueDays}})
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
                <a class="btn btn-info start-continue" href="#">Continue <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>